* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f6f7f9;
  padding-top: 70px;
}

#body {
  display: flex;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  padding: 10px 15px;

  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1000;
}

#header .btn {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  background: #333;
  font-size: 14px;
}

#header .btn:hover {
  background: #444;
}

#logout {
  margin-left: auto;
}

#logoutBtn {
  padding: 6px 12px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#logoutBtn:hover {
  background: #c0392b;
}

#departmentform {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 10px;
}

#departmentlist {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 10px;
}

h2 {
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#departmentform input {
  margin-top: 5px;
  display: flex;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#departmentform button {
  margin-top: 10px;
  display: flex;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: #3498db;
  color: white;
  cursor: pointer;
}

#serchlist {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 10px;
}
#searchInput {
  margin-top: 5px;
  display: flex;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px 18px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f1f1f1;
}

#action {
  display: flex;
  margin-top: 5px;
  background-color: #4caf50;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.delete {
  display: flex;
  margin-top: 5px;
  background-color: #e74c3c;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
